.r1{
    color: #4aaaa5;
    height:50px;
}
.pic{
    margin-left:75px;
    margin-top:10px;
    margin-bottom:10px;
    height:125px;
    width:125px;
}
.picCell{
    position:relative;
}
.picLabel{
    height:55px;
    width:125px;
    background-color:#4aaaa5;
    color:white;
    position:absolute;
    bottom:10px;
    margin-left:75px;
    text-align:center;
}
.p5, 
    margin-bottom:30px;
}
.picBottom{
    margin-bottom:25px;
}

