header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: lightblue ;
    width:100%;
    height:100px;
}
.nameBox{
    background-color: #4aaaa5;
    color:white;
    text-align: center;
}

header::after{
    clear:both;
}
.r1{
    color: #4aaaa5;
    height:50px;
}
.r1c1{
    font-size:22;
    font-weight:bold;
}
body{
    background-image: url('../images/beige-tiles.png');
}
.container{
    background-color:white;
}
.row, p, footer {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
}
p{
    font-size:14;   
}
footer{
    position:fixed;
    bottom:0px;
    height:80px;
    width:100%;
    background-color: #666666;
    color: white;
    text-align: center;
    font-size: 12px;
    border-top: 8px solid #4aaaa5;
}
