header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: lightblue ;
    width:100%;
    height:100px;
}
.nameBox{
    background-color: #4aaaa5;
    color:white;
    text-align: center;
}

header::after{
    clear:both;
}
.r1{
    color: #4aaaa5;
    height:50px;
}
.r1c1{
    font-size:22;
    font-weight:bold;
}
body{
    background-image: url('../images/beige-tiles.png');
}
.container{
    background-color:white;
    margin-bottom:15%;
}
.row, p, footer {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
}
p{
    font-size:14;   
}
footer{
    position:fixed;
    bottom:0px;
    height:15%;
    width:100%;
    background-color: #666666;
    color: white;
    text-align: center;
    font-size: 12px;
    border-top: 8px solid #4aaaa5;
}

@media screen and (max-width:768px)
{
    .container{
        margin-bottom:10%;
    }
    nav{
        clear:both;
        position:static;
        margin: 0 auto; 
        width: 100%;
        height:25%; 
    }
    .navLink{
        float: left; 
        margin: 10px 0; 
        padding: 0px; 
        width:33%;
        text-align:center; 
    }
 }

